/* Gustavo Corona */
/* src/index.css made August 4, 2025 */
/* GitHub Repository URL: https://github.com/SugKrona/cs81-final-project */

@font-face {
  font-family: 'Enchanted Land';
  src: url('/fonts/Enchanted Land.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box; 
}


body {
  width: 100vw; 
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center;     
  
  font-family: 'Enchanted Land', sans-serif;
  font-size: 2.5rem;
  
  background-image: url('/images/Arena.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 

  color: #f8f8f8; 
  line-height: 1.5;
  font-weight: 400;
  
  cursor: url('/images/GLOVE CURSOR.cur'), auto;
}


#root {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  width: 100%; 
  max-width: 100vw; 
  height: 100%; 
  overflow-y: auto; 
  padding: 20px; 
  box-sizing: border-box; 
}